:root {
    --verm: #D9042B;
    --azul: #5545BF;
    --verde: #2E8C3C;
    --escuro: #732C02;
    --claro: #D99F7E;
    --fonte: "Sedan SC", serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte);
}

body{
    background-color: var(--claro);

}

header {
    background-color: var(--escuro);
    width: 100%;
    height: 250px;
    align-items: center;
}

header h1, header h2{
    text-align: center;
    color: white;
    margin: 0;
    font-size: 40px;
}

nav {
    background-color: var(--verde);
    text-align: center;
}

nav a {
    all: unset;
    padding: 0 15px;
    font-size: 30px;
    color: white;
}

nav a:hover{
    background-color: var(--verm);
    cursor: pointer;
    text-decoration: underline;
}

#detalhamento{
    padding: 15px;
}

#pedido h1,
.produto h1,
.produto h3{
    padding: 15px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table tbody {
    line-height: 30px;
}

table tbody td,
table thead th{
    border-top: 1px solid var(--escuro);
    border-bottom: 1px solid var(--escuro);
}

table tbody button {
    all: unset;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: var(--verde);
    color: white;
}

table tbody button:hover{
    background-color: var(--verm);
    text-decoration: underline;
}

.esgotado {
    color: var(--verm);
    text-decoration: line-through;
}

#campo_confirm {
    padding: 10px;
    margin: 15px;
    border-color: var(--escuro);
}

#campo_confirm h1{
    padding: 5px;
}

#campo_confirm #quantidade{
    padding: 5px;
}

#campo_confirm #quantidade h3{
    margin-top: 15px;
}

#campo_confirm #quantidade h3 strong{
    font-size: 23px;
    text-decoration: underline;
}

#campo_confirm #quantidade input{
    margin: 15px 0;
}

#campo_confirm #botoes_confirm{
    text-align: center;
}

#campo_confirm #botoes_confirm button{
    all: unset;
    padding: 10px;
    border-radius: 15px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}

#campo_confirm #botoes_confirm .cancelar{
    background-color: var(--verm);
}

#campo_confirm #botoes_confirm .confirmar{
    background-color: var(--verde);
}

#campo_confirm #botoes_confirm button:hover{
    text-decoration: underline;
    background-color: var(--azul);
}

#limpar {
    text-align: center;
}

#limpar button{
    all: unset;
    cursor: pointer;
    padding: 10px;
    background-color: var(--azul);
    color: white;
    border-radius: 15px;
}

#limpar button:hover{
    background-color: var(--verm);
    text-decoration: underline;
}

#pix {
    text-align: center;
}

#pix h1{
    padding: 15px;
    text-align: left;
}

#pix img{
    height: 300px;
    width: 300px;
}

footer {
    background-color: var(--escuro);
    text-align: center;
    height: 100px;
}

footer p{
    color: white;
    padding: 10px;
    padding-top: 45px;
    font-size: 17px;
}