:root {
    --verm: #D9042B;
    --azul: #5545BF;
    --verde: #2E8C3C;
    --escuro: #732C02;
    --claro: #D99F7E;
    --fonte: "Sedan SC", serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--claro);

}

body header {
    background-color: var(--escuro);
    width: 100%;
    height: 250px;
    align-items: center;
}

body header h1, body header h2{
    text-align: center;
    font-family: var(--fonte);
    color: white;
    margin: 0;
    font-size: 40px;
}

nav {
    background-color: var(--verde);
    text-align: center;
}

nav a {
    all: unset;
    padding: 0 15px;
    font-family: var(--fonte);
    font-size: 30px;
    color: white;
}

nav a:hover{
    background-color: var(--verm);
    cursor: pointer;
    text-decoration: underline;
}

.produto {
    font-family: var(--fonte);
}

.produto h1,
.produto h3{
    padding: 15px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table tbody {
    line-height: 30px;
}

table tbody td#texto{
    width: 50%;
}

table tbody td{
    border: 1px solid var(--escuro);
}

table tbody button {
    all: unset;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: var(--verde);
    color: white;
}

table tbody button:hover{
    background-color: var(--verm);
    text-decoration: underline;
}

footer {
    background-color: var(--escuro);
    text-align: center;
    height: 100px;
}

footer p{
    color: white;
    font-family: var(--fonte);
    padding: 10px;
    padding-top: 45px;
    font-size: 17px;
}