:root {
    --verm: #D9042B;
    --azul: #5545BF;
    --verde: #2E8C3C;
    --escuro: #732C02;
    --claro: #D99F7E;
    --fonte: "Sedan SC", serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--claro);

}

body header {
    background-color: var(--escuro);
    width: 100%;
    height: auto;
    align-items: center;
}

body header h1, body header h2{
    text-align: center;
    font-family: var(--fonte);
    color: white;
    margin: 0;
    font-size: 40px;
}

body header img {
    float: right;
    height: 50px;
    width: 50px;
}

nav {
    background-color: var(--verde);
    text-align: center;
}

nav a {
    all: unset;
    padding: 0 30px;
    font-family: var(--fonte);
    font-size: 30px;
    color: white;
}

nav a:hover{
    background-color: var(--verm);
    cursor: pointer;
    text-decoration: underline;
}

.produto {
    font-family: var(--fonte);
    /* text-align: center; */
}

fieldset{
    width: 100%;
    margin-top: 10px;
}

.dentro {
    display: inline-block;
    /* width: 100%; */
}

#valor {
    margin-top: 10px;
    float: right;
}